<table id="members">
  <tbody>
    {{#each model as |member|}}
      <tr>
        <td class='name'>
          {{member.name}}
        </td>
        <td class='email'>
          {{member.email}}
        </td>
        <td>
          {{link-to (t "members.index.edit") 'members.edit' member.id class='edit'}}
          <a href='#' {{action 'delete' member preventDefault=true}} class='delete'>{{t 'members.index.delete'}}</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{link-to (t 'members.index.add') 'members.new' id='add' }}
